body {
 padding: 0px;
 margin: 0px;
 background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
 background:#936a4f;
}
.nav-link, .navbar-brand {
 color: #fff;
 cursor: pointer;
}
.nav-link {
 margin-right: 1em !important;
}
.nav-link:hover {
 color: #000;
}
.navbar-collapse {
 justify-content: flex-end;
}
.header {
 background-image: url('Image/fond.jpg');
 background-size: auto;
 background-position: unset;
 position: relative;
}
.overlay {
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0px;
 top: 0px;
 background-color: rgba(0, 0, 0, 0.4);
}
.description {
 left: 50%;
 position: absolute;
 top: 50%;
 transform: translate(-50%, -55%);
 
}
.description h1 {
 color: #FFFFFF;
}
.description p {
 color: #fff;
 font-size: 0.9rem;
 line-height: 1.5;
}
.description li {
 color: #fff;
 font-size: 0.9rem;
 line-height: 1.5;
}

.description button {
 border:1px solid #936a4f;
 background-color: #936a4f;
 border-radius: 0;
 color: #fff;
 font-size: 0.9rem;
 float: right;
}
.description button:hover {
 border:1px solid #fff;
 background-color: #fff;
 color: #000;
}
.features {
 margin: 4em auto;
 padding: 1em;
 position: relative;
}
.feature-title {
 color: #000;
 font-size: 1.3rem;
 font-weight: 700;
 margin-bottom: 20px;
 text-transform: uppercase;
}
.features img {
 -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
 margin-bottom: 16px;
}
.features .form-control,
.features input {
 border-radius: 0;
}
.features .btn {
 background-color: #936a4f;
 border: 1px solid #936a4f;
 color: #fff;
 margin-top: 20px;

}
.features .btn:hover {
 background-color: #333;
 border: 1px solid #333;
}
.page-footer {
 background-color: #222;
 color: #ccc;
 padding: 30px 0 30px;
}
.footer-copyright {
 color: #666;
 padding: 40px 0;
}

.typedevente h3 {
 color: #2c1a0b;
 font-size: 1.25rem;
 line-height: 1.5;
}

.typedevente {
 right: 30%;
 position: absolute;
 top: 30%;
 text-align: center;
 border: #fff;
 border : solid #fff;
 border-radius: 10px 10px 10px 10px;
 padding: 30px 20px 30px 20px;
 background-color: #edddc6;
 box-shadow: 0 0 0.5em #000;   
 width: 550px;
 margin: 0 auto;
 opacity: 0.95;
     }

     
.typedevente button {
     text-align: center;
     background-color : #936a4f;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;
}

.typedevente button:hover {
 border:1px solid #fff;
 background-color: #fff;
 color: #000;
}

.TypeArticle h3 {
     color: #2c1a0b;
     font-size: 1.25rem;
     line-height: 1.5;
}

.TypeArticle {
 right: 30%;
 position: absolute;
 top: 30%;
 text-align: center;
 border: #fff;
 border : solid #fff;
 border-radius: 10px 10px 10px 10px;
 padding: 30px 20px 30px 20px;
 background-color: #edddc6;
 box-shadow: 0 0 0.5em #000;   
 width: 550px;
 margin: 0 auto;
 opacity: 0.95;
     }

.TypeArticle button {
 text-align: center;
 background-color : #936a4f;
 border-radius: 10px 10px 10px 10px;
 box-shadow: 0 0 0.5em #000;
 color: #edddc6;
 font-size: 0.9rem;
}


 .Titre {
     text-align: center;
     border: #fff;
     background-color : #edddc6;
     padding: 10px 10px 10px 10px;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color:#2c1a0b;
     font-size: 0.9rem;
     width: 400px;
     margin: 0 auto;
     margin-top : 12%;
     opacity: 0.95 ;
   }


h1 {
text-align: center;
}

.choixtype
{
 margin-left: 80px;
}

 .Titre {
 text-align: center;
 background-color : #edddc6;
 border : #fff;
 border-radius: 10px 10px 10px 10px;
 padding: 30px 20px 30px 20px;
 box-shadow: 0 0 0.5em #000;
 color:#2c1a0b;
 font-size: 0.9rem;
 width: 400px;
 margin: 0 auto;
 opacity: 0.95 ;
 top : 10%
 }

.description2 {
     left: 50%;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     text-align : center
}

 .description2 p {
 color: white;
 font-size: 1rem;
 line-height: 1.5;
}

@media (max-width: 575.98px) {
 .description {
 left: 0;
 padding: 0 15px;
 position: absolute;
 top: 10%;
 transform: none;
 text-align: center;
 }
}
 
 .description h1 {
 font-size: 2em;
 }
 
 .description p {
 font-size: 1.2rem;
 }
 
 .features {
 margin: 0;
 }

/* Bouton notif */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #936a4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #936a4f;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Notifications h3 {
 text-align: center;
 color: #2c1a0b;
 font-size: 1.0rem;
 line-height: 1.0;
}
.Notifications {
 margin: 0 auto;
 left: 50%;
 position: absolute;
 top: 45%;
 transform: translate(-50%, -55%);
 text-align: center;
 border: #fff;
 border : solid #fff;
 border-radius: 10px 10px 10px 10px;
 padding: 30px 20px 30px 20px;
 background-color: #edddc6;
 box-shadow: 0 0 0.5em #000;   
 width: 550px;
 margin: 0 auto;
 opacity: 0.95;
}
.Panier {
 right: 30%;
 position: absolute;
 top: 30%;
 text-align: center;
 border: #fff;
 border : solid #fff;
 border-radius: 10px 10px 10px 10px;
 padding: 30px 20px 30px 20px;
 background-color: #edddc6;
 box-shadow: 0 0 0.5em #000;   
 width: 550px;
 margin: 0 auto;
 opacity: 0.95;
}
.Panier button {
 border:1px solid #936a4f;
 background-color: #936a4f;
 border-radius: 0;
 color: #fff;
 font-size: 0.9rem;
}
.Panier button:hover {
 border:1px solid #fff;
 background-color: #fff;
 color: #000;
}
:required
{
    background-color: red;
}
.InfoLivraison .form-control,
.features input {
 border-radius: 0;
}
.InfoLivraison .btn {
 background-color: #936a4f;
 border: 1px solid #936a4f;
 color: #fff;
 margin-top: 20px;
}
.InfoLivraison .btn:hover {
 background-color: #333;
 border: 1px solid #333;
}
.InfoLivraison {
 left: 50%;
 position: absolute;
 top: 50%;
 transform: translate(-50%, -55%);
 text-align: center;
}
.InfoLivraison h3 {
 color: #fff;
}
.InfoLivraison p {
 color: #fff;
 font-size: 1.0rem;
 line-height: 1.0;
}

.ChoixUtilisateur
{
          text-align: center;
          border: #fff;
          border : solid #fff;
          border-radius: 10px 10px 10px 10px;
          padding: 40px 40px 40px 40px;
          background-color: #edddc6;
          box-shadow: 0 0 0.5em #000;   
          width: 400px;
          margin: 0 auto;
          opacity: 0.95;
          left: 50%;
          position: absolute;
          top: 45%;
          transform: translate(-50%, -55%);
}

.ChoixUtilisateur h2,h1,h3
{
     color: #936a4f;
}
.ChoixUtilisateur button {
     text-align: center;
     background-color : #936a4f;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;

}
.ChoixUtilisateur input {
     text-align: center;
     background-color : #936a4f;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;
}
.ChoixUtilisateur button:hover {
     border:1px solid #fff;
     background-color: #fff;
     color: #000;
    }

.Accès input
{
     text-align: center;
     background-color : #936a4f;
     width: 300px;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;
     margin: 0 auto;
     margin-left: auto;
}

.retourbouton input
{
     text-align: center;
     background-color : #936a4f;
     width: 70px;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;
     margin-left: auto;
     float: left;
}


.article2 {
     background-color: #f2f6e9;
     padding: 30px 30px;
     position: relative;
     text-align: center;  
}         

.liste1 {
 color: #333;
 font-size: 1.3rem;
 font-weight: 700;
 margin-bottom: 20px;
 
}
.php {
     box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
     margin-bottom: 16px;
     text-align : center;
     border: #fff;
     border-radius: 10px 10px 10px 10px;
     background-color: #edddc6;
     padding: 30px 20px 30px 20px;
}
     
.article2 button {
     text-align: center;
     background-color : #936a4f;
     border-radius: 10px 10px 10px 10px;
     box-shadow: 0 0 0.5em #000;
     color: beige;
     font-size: 0.9rem;
}

.article2 button:hover {
 border:1px solid #fff;
 background-color: #fff;
 color: #000;
}
.InfoPaiement {
 left: 50%;
 position: absolute;
 top: 50%;
 transform: translate(-50%, -55%);
 text-align: center;
}
.InfoPaiement h3 {
 color: #fff;
}
.InfoPaiement p {
 color: #fff;
 font-size: 1.0rem;
 line-height: 1.0;
}
.InfoPaiement .btn {
 background-color: #936a4f;
 border: 1px solid #936a4f;
 color: #fff;
 margin-top: 20px;
}
.InfoPaiement .btn:hover {
 background-color: #333;
 border: 1px solid #333;
}


